*{
    margin: 0;
    padding: 0;
}
body {
    min-width: 357px;
    overflow-x: hidden;
    background-color: #fff;
}

.more {
    color: #00d5ff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.hide {
    display: none;
}

.active {
    display: block;
}

input {
    height: 20px;
    margin-bottom: 10px;
    outline: none;
}

button {
    margin-bottom: 20px;
    background-color: #00D0FF;
    width: 100px;
    height: 30px;
}

.btn-ing {
    margin-left: 40px;
    background-color: #ec966d;
    color: #fff;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 8px #a26201;
    outline: none;
    cursor: pointer;
}
button:focus,button:active{
    outline: none;
}
button:focus,button:hover{
    background-color: #e67743;
}
button:active{
    background-color:#f15a14;
}
.item{
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}
h2{
    margin: 10px 5px;
    border-left: 4px solid #00adff;
    padding-left: 4px;
}
.text-input{
    width: 150px;
    margin: 10px 0 0 15px;
}
.text-input:focus,.text-input:active{
    outline: none;
}
.text-input:focus,.text-input:hover{
    border: 2px solid #43aae6;
}
.text-input:active{
    border: 2px solid #141bf1;
}
.radio{
    margin: 5px 0 0 10px;
}
.radio input{
    margin: 6px;
    cursor: pointer;
}
.ext-more{
    height: 50px;
    line-height: 50px;
    background-color: #eef1ef;
    padding-left: 80px;
    
}